<style>
 footer {
  background-color: #f8f9fa;
  padding: 30px 0;
  margin-top: 10px;
}

footer h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #6c757d;
}

footer p {
  margin-bottom: 0;
}

footer hr {
  margin: 30px 0;
}

footer p.text-center {
  color: #6c757d;
  font-size: 14px;
}

@media (max-width: 767px) {
  footer h4 {
    margin-top: 20px;
  }
  
  footer .row {
    flex-direction: column;
  }
  
  footer .col-md-6,
  footer .col-lg-4 {
    margin-bottom: 30px;
  }
  
}
</style>

<div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <ul>
          <li><a href="/" style="text-decoration: none;"><span class="material-icons" style="margin-left: 10px;"> home </span></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; 2022-2023 <span style="color: blue;"> Saurabh Dixit</span>. All rights reserved.</p>
  </div>