<link rel="stylesheet" href="/css_files/allusersandfriends.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Friends Section -->
<section class="friends">
    <div class="container">
     <div class="row">
      <div class="col-md-4">
       <div class="friend-card">
        <!-- <img src="" alt="Friend Image"> -->
        <a href="/user/profile/<%= fr.friend_id%>" style="text-decoration: none; color: white;" >
            <span style="font-size: 15px;color: black;" ><%= fr.friend_name%></span>
        </a>
       </div>
      </div>
    </div>
</section>
